/* Общая стилизация для навбара */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  background-color: white;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__logo img {
  height: 30px;
}

.navbar__menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__menu-item a {
  text-decoration: none;
  color: #4F5665;
  font-size: 16px;
}

.navbar__actions {
  display: flex;
  gap: 10px;
}

/* Стили кнопок */
.navbar__button {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar__button--signin {
  color: #333;
  border: 1px solid #333;
}

.navbar__button--signin:hover {
  background-color: #333;
  color: white;
}

.navbar__button--signup {
  color: white;
  background-color: #ff4b55;
  border: none;
}

.navbar__button--signup:hover {
  background-color: #d12c35;
}